@media(max-width:1345px){
  .token-controller{
    flex-direction: column;
    .abi-input {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.dropdown-menu {
  max-height: 40rem;
  overflow-y: scroll;
}