$txt-cl: #ffffff;
$white-cl: #ffffff;
$black-cl: #000000;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-radius: 32px;
$mobile-width: 600px;
$table-width: 1024px;

$font-family: "Montserrat", sans-serif;